/*.carousel-fade .carousel-item {
 opacity: 0;
 transition-duration: 1s;
 transition-property: opacity;
}*/

@media (min-width: 390px) {
  p.bio {
    font-size: 20px;
  }
  p.motto {
    font-size: 26px;
  }
}

@media (min-width: 576px) {
  p.bio {
    font-size: 20px;
  }
  p.motto {
    font-size: 26px;
  }

  .carousel-doodle img {
    max-width: 100%;
    height: auto;
    margin: auto;
  }

  .modal-lg {
      max-width: 90vw;
  }
}

@media (min-width: 768px) {
  p.bio {
    font-size: 26px;
  }
  p.motto {
    font-size: 35px;
  }

  .carousel-doodle img {
    max-width: 100%;
    height: 40vh;
    margin: auto;
  }
}

@media (min-width: 992px) {
  p.bio {
    font-size: 32px;
  }
  p.motto {
    font-size: 45px;
  }

  .modal-lg {
      max-width: 100vw;
  }

  .carousel-doodle img {
    max-width: 100%;
    height: 80vh;
    margin: auto;
  }
}

@media (min-width: 1200px) {
  p.bio {
    font-size: 40px;
  }
  p.motto {
    font-size: 56px;
  }
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#content-wrapper {
   min-height:100%;
   position:relative;
}
#header {
   padding:10px;
}
#body {
   padding:10px;
   padding-bottom:59px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:59px;   /* Height of the footer */
}

.navbar {
  background-color: #88CCFF;
}

.card:hover {
  opacity: 0.5;
}

.carousel-indicators {
  bottom: -40px;
}

.carousel-indicators > li {
  width: 15px;
  height: 15px;
  margin-right: 13px;
  margin-right: 13px;
  border-radius: 25px;
}

.close.animation-modal {
  color: #fff;
  text-shadow: 0 1px 0 #000;
}

.card-title.animation-thumbnail {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.card-img.doodle {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

div.card-img-overlay.poster: hover {
  width: 300px;
  transition: width 2s;
}

.modal-body {
  padding: 2rem;
}
